*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/examples/dump/
/test/Manifest.toml
/test/examples/
/test/LocalPreferences.toml
/docs/Manifest.toml
/docs/LocalPreferences.toml
/docs/Project.toml
/docs/build/
/docs/src/examples
/gh-pages/
/.JuliaFormatter.toml
/.vscode/
/lcov.info
/coverage
